
header {
    background-image: url(../assets/9f8b6c6445236e27ff50e9755b4feb92.jpg);
    background-size: cover;
    height: 100vh;
    font-family: $accentFont;
    
    h1 {
    @include fontSize(50);
    @include padding-top(20);
    }

    h2 {
    @include fontSize(40);
    @include padding-top(5);
    }

    h1, 
    h2 {
    text-shadow: 5px 5px 2px white;
    }
}

